p:active, a:active{
    background-color: yellow;
}

/* HEADER */
header {
	background-image: url("../main_photo.jpg");
	background-color: pink;
	background-repeat: no-repeat;	 
	height: 200px;
	width: 100%;
	background-position: 50%;
}

header h1 {
	border: 5px solid white ;
    position: relative;
    top: 10%;
    width: 50%;
    padding: 30px 10px;
    margin: auto;
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: rgba(72, 75, 73, 0.7);
}

#main{
	font-size: 30pt;
	color: purple;
	font-variant: small-caps;
}

#recipee_title{
	font-size: 255%;
	font-style: italic;
}

#welcome{
	font-size: 26px;
}

#smacznego{
	font-size: 2em;
}

.recipee {
	color: brown;
	font-size: 130%;
	font-weight: bold;
}

#content {
	position: relative;
	bottom: 40px;
}

/* FOOTER */
footer {
	text-align: center;
	position:fixed;
	left: 0px;
	bottom: 0px;
	margin: 10px 0;
	padding: 5px;
	width: 100%;
	background: #999;
}