#post {
	position: relative;
	top: 20px;
	z-index: 1;
}

@media all{
body {
	background-color: grey;
}

article p strong {

	font-weight: bold;
	font-size: 110%;
}

.extra {
	font-size: 120%;
}


p img {
    float: left;
    margin: 0 10px 10px 10px;
}

article article {
	font-family: tahoma, helvetica, sans-serif;
	font-style: italic;
	line-height: 2;
}

aside {
	clear: left;
}

aside p:first-child{
	color: pink;
}
strong:only-child{
	color: pink;
}

details:not(summary){
	color: MidnightBlue;
}

p {
  page-break-after: always;
}


@media print{
 	body{
 		background-color: white;
 		color: black
 	}
 }

 @page :first {
  margin-left: 50%;
  margin-top: 50%;
}









