/* HEADER */
header {
	background-image: url("../main_photo.jpg");
	background-color: pink;
	background-repeat: repeat;	 
	height: 200px;
	width: 100%;
	background-position: left;
}

header h1 {
	border: 5px solid white ;
    position: relative;
    top: 10%;
    width: 50%;
    padding: 30px 10px;
    margin: auto;
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: rgba(72, 75, 73, 0.7);
}

@media all{
body {
	background-color: grey;
}

article p strong {
	color: brown;
	font-weight: bold;
	font-size: 110%;
}

.extra {
	font-size: 120%;
}

article article {
	font-family: tahoma, helvetica, sans-serif;
	font-style: italic;
	line-height: 2;
}
}
 @media print{
 	body{
 		background-color: white;
 		color: black
 	}
 }

