/* HEADER */
header {
	background-image: url("../main_photo.jpg");
	background-color: pink;
	background-repeat: no-repeat;	 
	height: 200px;
	width: 100%;
	background-position: 50%;
}

header h1 {
	color: white;
}