
input:focus {
  background-color: pink;
}

body {
  background-image: url(images/zen.png);
  background-attachment: scroll;
  background-repeat: repeat-y;
  background-size: 20%;
  background-position: bottom right;
}

p:empty { 
  width:100% ;
  height: 20px;
  background: grey;
}

label:last-child{ font-style: italic;}

input:nth-last-child(2){ color: MidnightBlue;}

input:nth-last-child(1){ color: MediumPurple;}

    #borderstretch {
    border: 10px solid transparent;
    padding: 15px;
    border-image-source: url(../images/border.png);
    border-image-slice: 15% 10%;
    border-image-repeat:  stretch;}

    #borderrepeat {
    border: 10px solid transparent;
    padding: 15px;
    border-image-source: url(../images/border.png);
    border-image-slice: 16% 16%;
    border-image-repeat:  repeat;}

