/* latin-ext */
@font-face {
  font-family: AmaticSC;
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v10/6UByihrsVPWtZ99tNMIgMBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: AmaticSC;
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v10/DPPfSFKxRTXvae2bKDzp5FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

a:last-of-type:visited {color: grey;}

a:link{color: pink;}

header h1 {
    font-family: AmaticSC, cursive;
}

p {
    font-family: AmaticSC;
    font-size: 1.5em;
}
      
img{
    position: relative;
    -webkit-animation: movingimage linear 10s 1s 2 alternate;
    -moz-animation: movingimage linear 10s 1s 2 alternate;
    animation: movingimage linear 10s 1s 2 alternate;
 }
 @-webkit-keyframes movingimage 
 {
    0%   {opacity: 0; left: 0px; top: 0px;}
    25%  {opacity: 1; left: 100px; top: 0px;}
    50%  {opacity: 0; left: 200px; top: 0px;}
    75%  {opacity: 1; left: 300px; top: 0px;}
    100% {opacity: 0; left: 400px; top: 0px;}
 }
 @-moz-keyframes movingimage 
 {
    0%   {opacity: 0; left: 0px; top: 0px;}
    25%  {opacity: 1; left: 100px; top: 0px;}
    50%  {opacity: 0; left: 200px; top: 0px;}
    75%  {opacity: 1; left: 300px; top: 0px;}
    100% {opacity: 0; left: 400px; top: 0px;}
 }
 @keyframes movingimage
 {
    0%   {opacity: 0; left: 0px; top: 0px;}
    25%  {opacity: 1; left: 100px; top: 0px;}
    50%  {opacity: 0; left: 200px; top: 0px;}
    75%  {opacity: 1; left: 300px; top: 0px;}
    100% {opacity: 0; left: 400px; top: 0px;}
 }
