/* HEADER */
header {
	background-image: url("../main_photo.jpg");
	background-color: pink;
	background-repeat: repeat;	 
	height: 200px;
	width: 100%;
	background-position: left;
}

body{
            background: url(zen.png) fixed no-repeat bottom right;
      } 
header h1 {
	border: 5px solid white ;
    position: relative;
    top: 10%;
    width: 50%;
    padding: 30px 10px;
    margin: auto;
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: rgba(72, 75, 73, 0.7);
}

      
.table-convert {
	border-collapse: collapse;
	width: 50%;
}

.table-convert .table-convert {
	width: 100%;
}

.table-convert th, td {
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	height: 30px;
	padding: 5px;
	
}

.table-convert td {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}