/* HEADER */
header {
	background-image: url("../main_photo.jpg");
	background-color: pink;
	background-repeat: repeat;	 
	height: 200px;
	width: 100%;
	background-position: left;
}

header h1 {
	border: 5px solid white ;
    position: relative;
    top: 10%;
    width: 50%;
    padding: 30px 10px;
    margin: auto;
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: rgba(72, 75, 73, 0.7);
}

input:checked {
    box-shadow: 0 0 0 3px red;
}

input:disabled, option:disabled {
	background-color: grey;
}

input:enabled{
    background-color: yellow;
}


input:required {
	box-shadow: 0 0 0 3px red;
}

